{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<h1>Gallery</h1>

<!-- Slider -->
<div id="gallerySlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image in images %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ url_for('static', filename='screenshots/' ~ image) }}" class="d-block w-100 gallery-image" alt="Image">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#gallerySlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#gallerySlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}