{% extends "base.html" %}

{% block content %}
<section class="screenshots py-5">
    <div class="container">
        <h2 class="mb-4">Screenshots</h2>
        <form action="{{ url_for('screenshots_route') }}" method="post" class="mb-4">
            <div class="input-group">
                <select name="url" class="form-control" required>
                    <option value="" disabled selected>Select a domain</option>
                    {% for domain in domains %}
                    <option value="{{ domain }}">{{ domain }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Take Screenshot</button>
                </div>
            </div>
        </form>
        <div class="progress mb-4">
            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>

        <div class="row">
            {% for screenshot in screenshots %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='screenshots/' ~ screenshot) }}" class="card-img-top"
                         alt="Screenshot">
                    <div class="card-body">
                        <a href="{{ url_for('static', filename='screenshots/' ~ folder ~ '/' ~ screenshot) }}"
                           target="_blank" class="btn btn-primary">View Full Size</a>
                        <a href="{{ url_for('static', filename='screenshots/' ~ folder ~ '/' ~ screenshot) }}" download
                           class="btn btn-primary">Download</a>
                        <form action="{{ url_for('delete_screenshot_from_folder', folder=folder, screenshot=screenshot) }}"
                              method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/progress.js') }}"></script>
{% endblock %}