{% extends 'base.html' %}

{% block content %}
<section class="screenshots py-5">
    <div class="container">
        <h2 class="mb-4">Screenshots</h2>
        <form method="POST">
            <div class="form-group">
                <label for="url" class="form-label">URL:</label>
                <input type="text" id="url" name="url" class="form-control">
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Take Screenshot</button>
            </div>
        </form>

        <ul class="list-group">
            {% for domain in domains %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ domain }}
                <div>
                    <!-- Take screenshots button -->
                    <button type="button" class="btn btn-success btn-sm" onclick="takeScreenshots('{{ domain }}', true)">Zrób Screenshots</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
function takeScreenshots(domain, allLinks = false) {
    const deviceTypes = ['desktop', 'mobile'];

    deviceTypes.forEach(deviceType => {
        fetch('/zrobscreen', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ domain, deviceType }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(`Error: ${data.error}`);
            } else {
                alert(`Screenshots taken for ${deviceType}`);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while taking screenshots.');
        });
    });
}
</script>
{% endblock %}